@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  /* Modern crisp red */
  --color-primary-hover: #b91c3b;
  --color-secondary: #1e293b;
  /* Slate 800 - more attractive dark */
  --color-secondary-hover: #0f172a;
  /* Slate 900 */
  --color-gray-bg: #f9fafb;
  --color-gray-text: #4b5563;
  --color-border: #e5e7eb;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-secondary-hover);
    --foreground: #f9fafb;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}